.profile__edit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid #fff;
  border-radius: 0;
  background: #000;
  font-size: 0;
  padding: 0;
  cursor:pointer;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.profile__edit-button svg  {
  width: 10px;
  height: 10px;
}

.profile__edit-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and ( max-width: 650px) { 
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__edit-button svg {
    width: 7.5px;
    height: 7.5px;
  }

}
