.profile__edit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  border-radius: 0;
  background: #000;
  font-size: 0;
  padding: 0;
  cursor:pointer;
  margin-left: 10px;
  width: 25px;
}


.profile__edit-button:hover {
  opacity: .8;
}

@media screen and ( max-width: 650px) { 
  .profile__edit-button {
    width: 20px;
  }

  .profile__edit-button svg {
    width: 18px;
    height: 18px;
  }

}
