.header {
  border-bottom: 1px solid #545454 ;
  min-height: 119px;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and ( max-width: 650px) { 
  .header {
    min-height: 83px;
  }

}