.cadrs__heart_type_active {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  font-size: 0;
  background: #fff;
  background-image: url(../../../../images/heart_active.svg);
}

.cadrs__heart_type_active:hover {
  opacity: 0.5;
  cursor: pointer;
}